h1 {
    font-weight: 500;
    font-family: 'Roboto Medium', sans-serif, Arial;
    padding-left: 20rem;
}
html{
    margin: auto, auto, auto, auto;
}
img {
    padding-left: 23em;
    max-width: 43.75rem;
    max-height: 43.75rem;
}
p,li{
    font-family:'Roboto Medium', 'Open Sans';
}

.links {
    padding-left: 43rem;
}
.links a{
    text-decoration:none;
}
a:hover{
    color:white;
}
button:hover{
    background-color:green;
}
.gothenburguni img{
    padding-left: 42rem;
}

.hoverwrap {
    position: relative;
}
.hoverwrap img{
    width: 50%;
}

.hovercap2{
    box-sizing: border-box;
    width: 43.75rem;
    padding-left: 15rem;
    position:absolute;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
    color:white;
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
    margin-left: 23rem;
    margin-bottom: 0.2rem;
}

.hoverwrap:hover .hovercap2{
    visibility: visible; opacity: 1;
}
.current a{
    color: #19dafa;
}
.housing a{
    color:rgb(231, 207, 207);
}

ul li{
    list-style:none;
}
ul {
    display: inline-flex;
    margin-left: -20%;
}
.logo img{
    max-width: 5rem;
    max-height: 5rem;
}
