h1 {
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    padding-left: 43rem;
    font-size:3rem;
}
h2{
    font-weight:300;
    font-family: 'Kanit', sans-serif;
    font-size:3rem;
}
html{
    margin: auto, auto, auto, auto;
    background-image:linear-gradient(to right, skyblue, white);
}
img {
    padding-left: 23em;
    max-width: 43.75rem;
    max-height: 43.75rem;
}
p, footer{
    font-family: 'Montserrat', sans-serif;
}
.links a{
    text-decoration:none;
    padding: 1rem;
    display: inline-flex;
    font-family:'Roboto', sans-serif;
    color:black;
}

a:hover{
    color:black;
}
button{
    background-color: black;
    color:white;
}
button:hover{
    background-color:grey;
    color:white;
}
.gothenburguni img{
    padding-left: 42rem;
}

.hoverwrap {
    position: relative;
}
.hoverwrap img{
    width: 50%;
}

.hovercap2{
    box-sizing: border-box;
    width: 43.75rem;
    padding-left: 15rem;
    position:absolute;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
    color:white;
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
    margin-left: 23rem;
    margin-bottom: 0.2rem;
}

.hoverwrap:hover .hovercap2{
    visibility: visible; opacity: 1;
}
.current a{
    color: #19dafa;
}
.housing a{
    color:rgb(231, 207, 207);
}

ul li{
    list-style:none;
}
ul {
    display: inline-flex;
}
.links img{
    padding-left:0rem;
}
.logo img{
    max-width: 5rem;
    max-height: 5rem;
}
em {
    font-weight: bold;
}

@keyframes testing {
    0% {left: 0px;}
    50%{left: 200px;}
    100%{left: 400px;}
    }
    
div{
    animation: testing;
    animation-direction:linear;
    animation-duration: 2s;
}

.links{
    text-align: right;
}

.links a:hover{
    color:red;
}
