h1 {
    font-weight: 500;
    font-family: 'Roboto Medium', sans-serif, Arial;
    padding-left: 20em;
}
img {
    padding-left: 23em;
}
figcaption {
    padding-left: 50em;
}
p {
    font-family:'Roboto Medium', 'Open Sans';
}
.links {
    padding-left: 43em;
}
.hoverwrap {
    position: relative;
}
.hoverwrap img{
    width: 50%;
}

.hovercap{
    box-sizing: border-box;
    width: 50%;
    padding-left: 29em;
    position:absolute;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
    color:white;
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
    margin-left: 23em;
    margin-bottom: 23px;
}

.hoverwrap:hover .hovercap{
    visibility: visible; opacity: 1;
}
